
/*----- Flavor Card -----*/
.flavor-card-container {
  width: 120px;
  height: 164px;

  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;

}
.flavor-image-container {
  width: 120px;
  height: 120px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  /*display: flex;
  justify-content: center;*/
}
.flavor-image {
  width: 100px;
  height: 100px;
  padding: 10px 0 10px 10px; 
  /*align-self: center;*/
}

.flavor-text-container {
  width: 88px;
  height: 34px;
}
.flavor-text {
  color: #2F1921;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.16500000655651093px;
  text-align: center;
}

/*----- flavors-carousel -----*/
.flavor-carousel-container {
  width: 393px;
  height: 164px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;

}

.flavor-carousel-content {
  width: 100%;
  height: 164px;
  display: flex;
  padding: 0 17px 0 0px;
  gap: 17px;
  margin-top: 17px;
  animation: bounce 0.5s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
}

/*----- flavors-carousel-controls -----*/

.App-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px;
}

.App-header, .App-footer {
  width: 100%;
}