.header-container {
    display: flex;
    width: 393px;
    height: 60px;
    padding: 8px 25px 7px 16px;
    align-items: center;
    gap: 163px;
    flex-shrink: 0;
    background: #F9F9F9;
  }
  
  .logo-container {
    width: 125px;
    height: 45px;
    flex-shrink: 0;
  }
  
  .toggle-container {
    width: 64px;
    height: 30px;
    flex-shrink: 0;
  }
  