.card-container {
    display: flex;
    gap: 20px;  /* adjust this value to increase or decrease the space between cards */
    background-color: #f3c76b;  /* light mode background color */
    color: #000;  /* light mode text color */
}

/* For light mode */
.card-container.light {
    display: flex;
    gap: 20px;  /* adjust this value to increase or decrease the space between cards */
    background-color: #f3c76b;  /* light mode background color */
    color: #000;  /* light mode text color */
}

/* For dark mode */
.card-container.dark {
    display: flex;
    gap: 20px;
    background-color: #2f1921;  /* dark mode background color */
    color: #fff;  /* dark mode text color */
}
